/* Important Elements */
html, body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #343434;
}
body {
  position: relative; 
}
* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Main Content */
main {
  width: 80%;
  margin-left: 10%;
  border: 1px solid #06dd3c 1px 1px 1px 1px;
}
.page-content {
  display: flex;
  flex-direction: column;
  background-color: #343434;
}
.section-wrap {
  background-image: url('sectionwrapback.jpg');
  opacity: 1;
}
.section-wrap > h2, p, a {
  background-color: #00a028;
  text-align: center;
  color: chartreuse;
  border: 2px solid #06dd3c;
}
.section-wrap > h2 {
  width: 45%;
  margin-left: 27.5%;
}
.section {
  width: 35%;
  margin-left: 32.5%;
}
.section > p {
  font-size: large;
}
.parallax {
  background-image: url("parallax1.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#quiz {
  height: 500px;
}
#slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* Other */
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-track {
  background-color: #343434;
  box-shadow: inset 0 0 2px #343434;
  border-radius: 50%;
}
::-webkit-scrollbar-thumb {
  border-radius: 20%;
  background: #30b0f5;
}
::-webkit-scrollbar-thumb:hover {
  background: #0094e4;
}